:root {
    --e-global-color-primary: #FFFFFF;
    --e-global-color-secondary: #29282B;
    --e-global-color-text: #575757;
    --e-global-color-accent: #246BCB;
    --theme-bg-color: #018BED;
    --theme-alt-bg-color: #F7F6FF;
}