.wpcf7-form {
    label {
        font-size: var(--font-l);
        font-weight: 600;
        line-height: 140%;
    }
    .wpcf7-form-control-wrap {
        margin-bottom: 22px;
        display: block;
        position: relative;
        input,
        textarea {
            background-color: transparent;
            border: 0;
            border-bottom: 0.1px solid var(--e-global-color-primary);
            width: 100%;
            outline: none;
            box-shadow: none;
            padding: 10px 40px 10px 0px;
        }
    }
    .floating-label {
        position: relative;
        label {
          position: absolute;
          left: 0px;
          top: 12px;
          padding-left: 20px;
          bottom: auto;
          //transform: translateY(-50%);
          pointer-events: none;
          transition: transform .18s ease, top .18s ease, font-size .18s ease, color .18s ease;
          z-index: 2;
        }
        .wpcf7-form-control {
          background: transparent;
          outline: none;
          box-sizing: border-box;
          &::placeholder {
            color: transparent;
          }
        }
        &:focus-within {
          label {
            transform: none;
          }
        }
        &.filled label {
          transform: none;
        }
    }
    .wpcf7-not-valid-tip {
        font-size: var(--font-xs);
        position: absolute;
        bottom: 0;
        color: transparent; 
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: right;
        width: 20px;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        z-index: 3;
    }
    .wpcf7-submit {
        margin-top: 18px;
        margin-left: auto;
        display: block;
    }
    .wpcf7-spinner {
        position: absolute;
    }
    .wpcf7-response-output {
        color: var(--e-global-color-secondary);
        margin: 0;
        padding: 10px;
        font-size: var(--font-xs);
        text-align: center;
    }
    &.invalid {
        .wpcf7-response-output {
            display: none;
            // background-color: #d6c69c;
            // border-color: #d6c69c !important;
        }
    }
    &.sent {
        .wpcf7-response-output {
            background-color: #78db81;
            border-color: #78db81 !important;
        }
    }
}
.appearance-theme {
    .wpcf7-form {
        background-color: color-mix(in srgb, var(--e-global-color-primary) 22%, transparent);
        @media (min-width: 768px) {
            padding: 71px 43px;
        }
        @media (max-width: 767px) {
            padding: 50px 20px;
        }
        label {
            color: var(--e-global-color-primary);
        }
        .wpcf7-form-control-wrap {
            input,
            textarea {
                color: var(--e-global-color-primary);
                &::placeholder {
                    color: color-mix(in srgb, var(--e-global-color-primary) 80%, transparent);
                }
                &.wpcf7-not-valid {
                    border-color: #FFC107 !important;
                }
            }
        }
        .wpcf7-not-valid-tip {
            // color: #FFC107;
            background-image: url('data:image/svg+xml,<svg fill="%23FFC107" width="32px" height="32px" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><path d="M 9.5899 50.2070 L 46.4102 50.2070 C 49.9257 50.2070 52.1289 47.6758 52.1289 44.4883 C 52.1289 43.5273 51.8947 42.5664 51.3791 41.6758 L 32.9336 8.6758 C 31.8789 6.7773 29.9570 5.7930 28.0117 5.7930 C 26.0899 5.7930 24.1211 6.7773 23.0664 8.6758 L 4.6446 41.6992 C 4.1289 42.5898 3.8711 43.5273 3.8711 44.4883 C 3.8711 47.6758 6.0977 50.2070 9.5899 50.2070 Z M 28.0117 34.1523 C 26.7695 34.1523 26.0899 33.4492 26.0430 32.1836 L 25.7149 20.6055 C 25.6680 19.3399 26.6524 18.4024 27.9883 18.4024 C 29.3008 18.4024 30.3320 19.3633 30.2852 20.6289 L 29.9336 32.1836 C 29.8868 33.4726 29.2070 34.1523 28.0117 34.1523 Z M 28.0117 42.8008 C 26.6524 42.8008 25.3868 41.7227 25.3868 40.2695 C 25.3868 38.8164 26.6289 37.7383 28.0117 37.7383 C 29.3946 37.7383 30.6368 38.7930 30.6368 40.2695 C 30.6368 41.7461 29.3711 42.8008 28.0117 42.8008 Z"/></svg>');
        }
    }
}
.appearance-default {
    .wpcf7-form {
        background-color:var(--e-global-color-primary);
        box-shadow: 0px 0px 40.8px 0px color-mix(in srgb, var(--e-global-color-secondary) 25%, transparent);
        @media (min-width: 768px) {
            padding: 32px;
        }
        @media (max-width: 767px) {
            padding: 30px;
        }
        label {
            color: var(--e-global-color-text);
            padding-bottom: 5px;
            background-color: var(--e-global-color-primary);
            width: 100%;
        }
        .wpcf7-form-control-wrap {
            input,
            textarea {
                color: var(--e-global-color-secondary);
                &::placeholder {
                    color: var(--e-global-color-text);
                }
                &.wpcf7-not-valid {
                    border-color: #ff0000 !important;
                }
            }
        }
        .wpcf7-not-valid-tip {
            // color: #ff0000;
            background-image: url('data:image/svg+xml,<svg fill="%23ff0000" width="32px" height="32px" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><path d="M 9.5899 50.2070 L 46.4102 50.2070 C 49.9257 50.2070 52.1289 47.6758 52.1289 44.4883 C 52.1289 43.5273 51.8947 42.5664 51.3791 41.6758 L 32.9336 8.6758 C 31.8789 6.7773 29.9570 5.7930 28.0117 5.7930 C 26.0899 5.7930 24.1211 6.7773 23.0664 8.6758 L 4.6446 41.6992 C 4.1289 42.5898 3.8711 43.5273 3.8711 44.4883 C 3.8711 47.6758 6.0977 50.2070 9.5899 50.2070 Z M 28.0117 34.1523 C 26.7695 34.1523 26.0899 33.4492 26.0430 32.1836 L 25.7149 20.6055 C 25.6680 19.3399 26.6524 18.4024 27.9883 18.4024 C 29.3008 18.4024 30.3320 19.3633 30.2852 20.6289 L 29.9336 32.1836 C 29.8868 33.4726 29.2070 34.1523 28.0117 34.1523 Z M 28.0117 42.8008 C 26.6524 42.8008 25.3868 41.7227 25.3868 40.2695 C 25.3868 38.8164 26.6289 37.7383 28.0117 37.7383 C 29.3946 37.7383 30.6368 38.7930 30.6368 40.2695 C 30.6368 41.7461 29.3711 42.8008 28.0117 42.8008 Z"/></svg>');
        }
    }
}
.padding-bt-none {
    .wpcf7-form {
        @media (min-width: 768px) {
            border-radius: 64px 64px 0px 0px;
        }
        @media (max-width: 767px) {
            border-radius: 32px 32px 0px 0px;
        }
    }
}
.padding-bt--default {
    .wpcf7-form {
        @media (min-width: 768px) {
            border-radius: 52px;
        }
        @media (max-width: 767px) {
            border-radius: 30px;
        }
    }
}