.header-main-area {
    .menu-item {
        .megamenu {
            justify-content: center;
            .menu-item { 
                &:not(.menu-item-has-children) { 
                    a {
                        span {
                            &::after,
                            &::before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
.product-area {
    .product-tab-menu {
        .nav {
            li {
                a {
                    position: relative;
                    &::after,
                    &::before {
                        bottom: -6px;
                        left: 0;
                        height: 2px;
                        content: " ";
                        position: absolute;
                        transition: 0.5s;
                    }
                    &::after {
                        width: 0%;
                        
                    }
                    &::before {
                        width: 0%;
                    }
                    &.active {
                        pointer-events: none;
                        &::before {
                            width: 100%;
                            background-color: #ebebeb;
                        }
                        &::after {
                            width: 50%;
                            background-color: #5a5b2f;
                        }
                    }
                    &:hover {
                        &::after {
                            width: 100%;
                            background-color: #5a5b2f;
                        }
                    }
                }
            }
        }
    }
}
.product-item {
    .product-caption {
        .product-identity {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                &::after {
                    content: ",";
                    margin-right: 6px;
                }
                &:last-child {
                    &::after {
                        content: "";
                    }
                }
            }
        }
    }
    .cart-hover {
        .added_to_cart{
            &.wc-forward {
                display: none;
            }
        }
    }
}
.product-area,
.feature-product,
.related-products {
    .product-item {
        .product-caption {
            .product-identity {
                display: none;
            }
        }
    }    
}
.product-details-des {
    .availability {
        i {
            &.fa-times-circle-o {
                color: red;
            }
        }
    }
} 