.header-main-area {
    .menu-item {
        .megamenu {
            justify-content: center;
            .menu-item { 
                &:not(.menu-item-has-children) { 
                    a {
                        span {
                            &::after,
                            &::before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
.product-area {
    .product-tab-menu {
        .nav {
            li {
                a {
                    position: relative;
                    &::after,
                    &::before {
                        bottom: -6px;
                        left: 0;
                        height: 2px;
                        content: " ";
                        position: absolute;
                        transition: 0.5s;
                    }
                    &::after {
                        width: 0%;
                        
                    }
                    &::before {
                        width: 0%;
                    }
                    &.active {
                        pointer-events: none;
                        &::before {
                            width: 100%;
                            background-color: #ebebeb;
                        }
                        &::after {
                            width: 50%;
                            background-color: #5a5b2f;
                        }
                    }
                    &:hover {
                        &::after {
                            width: 100%;
                            background-color: #5a5b2f;
                        }
                    }
                }
            }
        }
    }
}
.product-item {
    .product-caption {
        .product-identity {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                &::after {
                    content: ",";
                    margin-right: 6px;
                }
                &:last-child {
                    &::after {
                        content: "";
                    }
                }
            }
        }
    }
    .cart-hover {
        .added_to_cart{
            &.wc-forward {
                display: none;
            }
        }
    }
}
.product-area,
.feature-product,
.related-products {
    .product-item {
        .product-caption {
            .product-identity {
                display: none;
            }
        }
    }    
}
.product-details-des {
    .availability {
        i {
            &.fa-times-circle-o {
                color: red;
            }
        }
    }
} 
.cart-table {
    .table {
        thead {
            tr {
                th {
                    color: #5a5b2f;
                    border: 1px solid #ccc;
                }
            } 
        } 
    } 
} 
.cart-table {
    .table {
        tbody {
            tr {
                td {
                    border: 1px solid #ccc;
                }
            } 
        } 
    } 
} 

.cart-update-option {
    .apply-coupon-wrapper {
        .form {
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            input {
                border: 1px solid #dadada;
                font-size: 14px;
                padding: 9px 10px;
                outline: none;
                margin-right: 15px;
                width: 100%;
                -webkit-transition: 0.4s;
                -o-transition: 0.4s;
                transition: 0.4s;
            }
        }
    }
}

.cart-calculator-wrapper {
    .cart-calculate-items {
        .table {
            tr {
                th {
                    padding: 15px 20px;
                    font-weight: 500;
                    color: #1a4247;
                }
            } 
        } 
    }
} 
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    outline: none;
    &::before {
        display: none;
    }
    .container {
        position: relative;
        &::before {
            font-family: WooCommerce;
            content: "\e028";
            content: "\e028" / "";
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.woocommerce-message {
    .container {
        &::before {
            content: "\e015";
            color: #8fae1b;
        }
    }
}
.woocommerce-info {
    .container {
        &::before {
            color: #1e85be;
        }
    }
}
.woocommerce-error {
    .container {
        &::before {
            content: "\e016";
            color: #b81c23;
        }
    }
}
.custom-empty-cart {
    i {
        font-size: 100px;
    }
    h1 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
.woocommerce {
    form.login,
    form.checkout_coupon,
    form.register {
        border: 0;
        padding: 0;
        margin: 0;
        border-radius: 0;
    }
}

.billing-form-wrap {
    .single-input-item {
        textarea,
        input {
            color: #1a4247 !important;
            border: 1px solid #dadada !important;
            padding: 12px 10px !important;
            width: 100% !important;
            background: #f7f7f7 !important;
            border-radius: 0 !important;
            line-height: 24px !important;
            &:focus {
                border-color: #5a5b2f !important;
                background-color: #fff !important;
            }
        }
        .form-row {
            width: 100%;
            padding: 0;
            margin: 0;
        }
        .nice-select {
            .current {
                padding-top: 6px;
                display: block;
            }
        }
    }
    .woocommerce-account-fields {
        display: none;
    }
}
.order-summary-details {
    .order-summary-content {
        .woocommerce-shipping-totals {
            .woocommerce-shipping-destination {
                display: none;
            }
        }
    }
}
.minicart-item {
    .minicart-remove {
        margin: auto;
    }
}
.minicart-pricing-box {
    li {
        span {
            .amount {
                color: #5a5b2f;
            }
        }
    }
}
.policy-section {
    .policy-list {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 10px;
            &:not(:first-child) {
                padding-top: 15px;
            }
        }
        p:not(:last-child) {
            margin-bottom: 25px;
        }
        
        table:not(:last-child) {
            margin-bottom: 25px;
        }
        ul,
        ol {
            &:not(:last-child),
            &:not(:last-child) {
                margin-bottom: 25px;
            }
            li {
                ul,
                ol {
                    margin-top: 10px;
                }
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
    }
}
.testimonials-section {
    .meta {
        .avatar {
            border-radius: 100%;
            border: 0;
            background: transparent;
            img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                overflow: hidden;
                object-fit: cover;
            }
        }
    }
}
.blog-page-list {
    .blog-post-item {
        margin-bottom: 30px;
    }
}
.blog-post-item {
    .blog-thumb {
        img {
            aspect-ratio: 16 / 11.5;
        }
    }
}
.recent-post {
    .product-thumb {
        img {
            aspect-ratio: 16 / 11.5;
        }
    }
}
.blog-sidebar {
    .blog-tags {
        column-gap: 5px;
        display: flex;
        flex-wrap: wrap;
    }
}