.header-main-area {
    .menu-item {
        .megamenu {
            justify-content: center;
            .menu-item { 
                &:not(.menu-item-has-children) { 
                    a {
                        span {
                            &::after,
                            &::before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
.product-area {
    .product-tab-menu {
        .nav {
            li {
                a {
                    position: relative;
                    &::after,
                    &::before {
                        bottom: -6px;
                        left: 0;
                        height: 2px;
                        content: " ";
                        position: absolute;
                        transition: 0.5s;
                    }
                    &::after {
                        width: 0%;
                        
                    }
                    &::before {
                        width: 0%;
                    }
                    &.active {
                        pointer-events: none;
                        &::before {
                            width: 100%;
                            background-color: #ebebeb;
                        }
                        &::after {
                            width: 50%;
                            background-color: #5a5b2f;
                        }
                    }
                    &:hover {
                        &::after {
                            width: 100%;
                            background-color: #5a5b2f;
                        }
                    }
                }
            }
        }
    }
}
.product-item {
    .product-caption {
        .product-identity {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                &::after {
                    content: ",";
                    margin-right: 6px;
                }
                &:last-child {
                    &::after {
                        content: "";
                    }
                }
            }
        }
    }
    .cart-hover {
        .added_to_cart{
            &.wc-forward {
                display: none;
            }
        }
    }
}
.product-area,
.feature-product,
.related-products {
    .product-item {
        .product-caption {
            .product-identity {
                display: none;
            }
        }
    }    
}
.product-details-des {
    .availability {
        i {
            &.fa-times-circle-o {
                color: red;
            }
        }
    }
} 
.cart-table {
    .table {
        thead {
            tr {
                th {
                    color: #5a5b2f;
                    border: 1px solid #ccc;
                }
            } 
        } 
    } 
} 
.cart-table {
    .table {
        tbody {
            tr {
                td {
                    border: 1px solid #ccc;
                }
            } 
        } 
    } 
} 

.cart-update-option {
    .apply-coupon-wrapper {
        .form {
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            input {
                border: 1px solid #dadada;
                font-size: 14px;
                padding: 9px 10px;
                outline: none;
                margin-right: 15px;
                width: 100%;
                -webkit-transition: 0.4s;
                -o-transition: 0.4s;
                transition: 0.4s;
            }
        }
    }
}

.cart-calculator-wrapper {
    .cart-calculate-items {
        .table {
            tr {
                th {
                    padding: 15px 20px;
                    font-weight: 500;
                    color: #1a4247;
                }
            } 
        } 
    }
} 
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    outline: none;
    &::before {
        display: none;
    }
    .container {
        position: relative;
        &::before {
            font-family: WooCommerce;
            content: "\e028";
            content: "\e028" / "";
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.woocommerce-message {
    .container {
        &::before {
            content: "\e015";
            color: #8fae1b;
        }
    }
}
.woocommerce-info {
    .container {
        &::before {
            color: #1e85be;
        }
    }
}
.woocommerce-error {
    .container {
        &::before {
            content: "\e016";
            color: #b81c23;
        }
    }
}