// global base font sizes
$font-xs: 16px;
$font-s: 18px;
$font-m: 20px;
$font-l: 24px;
$font-xl: 32px;
$font-2xl: 40px;
$font-3xl: 52px;
$font-4xl: 72px;
$font-5xl: 80px;

// responsive overrides
@mixin responsive-fonts-larger($scale) {
  :root {
    --font-3xl: #{$font-3xl * $scale};
    --font-4xl: #{$font-4xl * $scale};
    --font-5xl: #{$font-5xl * $scale};
  }
}
@mixin responsive-fonts-smaller($scale) {
  :root {
    --font-xs: #{$font-xs * $scale};
    --font-s: #{$font-s * $scale};
    --font-m: #{$font-m * $scale};
    --font-l: #{$font-l * $scale};
    --font-xl: #{$font-xl * $scale};
    --font-2xl: #{$font-2xl * $scale};
  }
}
// Apply scaling
@media (min-width: 1366px) {
  @include responsive-fonts-larger(0.91);
  @include responsive-fonts-smaller(0.91);
}
@media (max-width: 1367px) and (min-width: 992px) {
  @include responsive-fonts-larger(0.75);
  @include responsive-fonts-smaller(0.8);
}
@media (max-width: 991px) and (min-width: 768px) {
  @include responsive-fonts-larger(0.73);
  @include responsive-fonts-smaller(0.9);
}
@media (max-width: 767px) {
  @include responsive-fonts-larger(0.73);
  @include responsive-fonts-smaller(0.9);
}