/* section width */
:root {
    --site-max: calc(300px + 1440px);
}
.full-width {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
}
// @media (min-width: 1920px) {
//     main,
//     footer,
//     header {
//         margin-left: auto;
//         margin-right: auto;
//         max-width: var(--site-max);
//         width: 100%;
//         left: 0;
//         right: 0;
//     }
// }
main {
    @media (min-width: 1920px) {
        .full-width {
            width: auto;
            margin-left: calc((100% - var(--site-max)) / 2);
            margin-right: calc((100% - var(--site-max)) / 2);
            left: 0;
            right: 0;
        } 
    }
    @media (min-width: 768px) {
        margin-top: 105px;
    }
    @media (max-width: 767px) {
        margin-top: 90px;
    }
}
.container {
    @media (min-width: 1367px) {
        max-width: 1450px;
    }    
}
.container-fluid {
    @media (min-width: 1367px) {
        max-width: 1600px;
    }
}
.edge-to-edge {
    max-width: 100%;
    margin: 0;
    padding: 0;
}
/*end*/

@media (max-width: 1366px) and (min-width: 768px) {
    section:not(.edge-to-edge),
    footer,
    header {
        padding-left: 32px;
        padding-right: 32px;
    }
}
@media (max-width: 767px) {
    section,
    footer,
    header {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 992px) {
    .padding-tp-default {
        padding-top: 100px;
    }
    .padding-bt-default {
        padding-bottom: 100px;
    }
    .bg-lg-contain {
        background-size: contain;
    }
    .bg-lg-auto {
        background-size: auto;
    }
    .bg-lg-left {
        background-position: left;
    }
    .bg-lg-right {
        background-position: right;
    }
    .gap_y_default {
        row-gap: 100px;
    }
    .gap_x_l {
        column-gap: 120px;
    }
    .gap_x_m {
        column-gap: 80px;
    }
    .gap_x_s {
        column-gap: 50px;
    }
    .gap_x_default {
        column-gap: 100px;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .padding-tp-default {
        padding-top: 80px;
    }
    .padding-bt-default {
        padding-bottom: 80px;
    }
    .bg-md-contain {
        background-size: contain;
    }
    .bg-md-auto {
        background-size: auto;
    }
    .bg-md-left {
        background-position: left;
    }
    .bg-md-right {
        background-position: right;
    }
    .gap_y_default {
        row-gap: 60px;
    }
    .gap_x_l {
        column-gap: 50px;
    }
    .gap_x_m {
        column-gap: 50px;
    }
    .gap_x_s {
        column-gap: 50px;
    }
    .gap_x_default {
        column-gap: 50px;
    }
}
@media (max-width: 767px) {
    .padding-tp-default {
        padding-top: 50px;
    }
    .padding-bt-default {
        padding-bottom: 50px;
    }
    .bg-sm-contain {
        background-size: contain;
    }
    .bg-sm-auto {
        background-size: auto;
    }
    .bg-sm-left {
        background-position: left;
    }
    .bg-sm-right {
        background-position: right;
    }
    .gap_y_default {
        row-gap: 50px;
    }
    .gap_x_l {
        column-gap: 24px;
    }
    .gap_x_m {
        column-gap: 24px;
    }
    .gap_x_s {
        column-gap: 24px;
    }
    .gap_x_default {
        column-gap: 24px;
    }
}