$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Istok Web', sans-serif;
/*
$font-scale: 0.9;
$font-xs: 16px * $font-scale;
$font-s: 18px * $font-scale;
$font-m: 20px * $font-scale;
$font-l: 24px * $font-scale;
$font-xl: 32px * $font-scale;
$font-3xl: 52px * $font-scale;
$font-4xl: 72px * $font-scale;
$font-5xl: 80px * $font-scale;
*/