/*
$font-scale: 0.9;
$font-xs: 16px * $font-scale;
$font-s: 18px * $font-scale;
$font-m: 20px * $font-scale;
$font-l: 24px * $font-scale;
$font-xl: 32px * $font-scale;
$font-3xl: 52px * $font-scale;
$font-4xl: 72px * $font-scale;
$font-5xl: 80px * $font-scale;
*/
@media (min-width: 1366px) {
  :root {
    --font-3xl: 47.32px;
    --font-4xl: 65.52px;
    --font-5xl: 72.8px;
  }
  :root {
    --font-xs: 14.56px;
    --font-s: 16.38px;
    --font-m: 18.2px;
    --font-l: 21.84px;
    --font-xl: 29.12px;
    --font-2xl: 36.4px;
  }
}

@media (max-width: 1367px) and (min-width: 992px) {
  :root {
    --font-3xl: 39px;
    --font-4xl: 54px;
    --font-5xl: 60px;
  }
  :root {
    --font-xs: 12.8px;
    --font-s: 14.4px;
    --font-m: 16px;
    --font-l: 19.2px;
    --font-xl: 25.6px;
    --font-2xl: 32px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  :root {
    --font-3xl: 37.96px;
    --font-4xl: 52.56px;
    --font-5xl: 58.4px;
  }
  :root {
    --font-xs: 14.4px;
    --font-s: 16.2px;
    --font-m: 18px;
    --font-l: 21.6px;
    --font-xl: 28.8px;
    --font-2xl: 36px;
  }
}

@media (max-width: 767px) {
  :root {
    --font-3xl: 37.96px;
    --font-4xl: 52.56px;
    --font-5xl: 58.4px;
  }
  :root {
    --font-xs: 14.4px;
    --font-s: 16.2px;
    --font-m: 18px;
    --font-l: 21.6px;
    --font-xl: 28.8px;
    --font-2xl: 36px;
  }
}

:root {
  --e-global-color-primary: #FFFFFF;
  --e-global-color-secondary: #29282B;
  --e-global-color-text: #575757;
  --e-global-color-accent: #246BCB;
  --theme-bg-color: #018BED;
  --theme-alt-bg-color: #F7F6FF;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url("../font/montserrat/montserrat-v31-latin-100.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url("../font/montserrat/montserrat-v31-latin-200.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url("../font/montserrat/montserrat-v31-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../font/montserrat/montserrat-v31-latin-400.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("../font/montserrat/montserrat-v31-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../font/montserrat/montserrat-v31-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../font/montserrat/montserrat-v31-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url("../font/montserrat/montserrat-v31-latin-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url("../font/montserrat/montserrat-v31-latin-900.woff2") format("woff2");
}

@font-face {
  font-family: 'Istok Web';
  src: url("../font/istok-web/istok-web-v26-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Istok Web';
  src: url("../font/istok-web/istok-web-v26-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
