.wpcf7-form .wpcf7-submit {
  background-color: #5a5b2f;
  padding: 12px 25px;
  width: auto;
  border: 0;
}

.wpcf7-form .wpcf7-submit:hover {
  color: #fff;
  background-color: #1a4247;
}

.wpcf7-form .wpcf7-not-valid-tip {
  margin-top: -15px;
  margin-bottom: 15px;
  font-size: 13px;
  text-align: left;
}

.header-main-area .menu-item .megamenu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-main-area .menu-item .megamenu .menu-item:not(.menu-item-has-children) a span::after, .header-main-area .menu-item .megamenu .menu-item:not(.menu-item-has-children) a span::before {
  display: none;
}

.product-area .product-tab-menu .nav li a {
  position: relative;
}

.product-area .product-tab-menu .nav li a::after, .product-area .product-tab-menu .nav li a::before {
  bottom: -6px;
  left: 0;
  height: 2px;
  content: " ";
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product-area .product-tab-menu .nav li a::after {
  width: 0%;
}

.product-area .product-tab-menu .nav li a::before {
  width: 0%;
}

.product-area .product-tab-menu .nav li a.active {
  pointer-events: none;
}

.product-area .product-tab-menu .nav li a.active::before {
  width: 100%;
  background-color: #ebebeb;
}

.product-area .product-tab-menu .nav li a.active::after {
  width: 50%;
  background-color: #5a5b2f;
}

.product-area .product-tab-menu .nav li a:hover::after {
  width: 100%;
  background-color: #5a5b2f;
}

.product-item .product-caption .product-identity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-item .product-caption .product-identity li::after {
  content: ",";
  margin-right: 6px;
}

.product-item .product-caption .product-identity li:last-child::after {
  content: "";
}

.product-item .cart-hover .added_to_cart.wc-forward {
  display: none;
}

.product-area .product-item .product-caption .product-identity,
.feature-product .product-item .product-caption .product-identity,
.related-products .product-item .product-caption .product-identity {
  display: none;
}

.product-details-des .availability i.fa-times-circle-o {
  color: red;
}

.cart-table .table thead tr th {
  color: #5a5b2f;
  border: 1px solid #ccc;
}

.cart-table .table tbody tr td {
  border: 1px solid #ccc;
}

.cart-table .table tbody tr td.pro-quantity .quantity label.screen-reader-text {
  width: 0;
}

.cart-update-option .apply-coupon-wrapper .form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
}

.cart-update-option .apply-coupon-wrapper .form input {
  border: 1px solid #dadada;
  font-size: 14px;
  padding: 9px 10px;
  outline: none;
  margin-right: 15px;
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cart-calculator-wrapper .cart-calculate-items .table tr th {
  padding: 15px 20px;
  font-weight: 500;
  color: #1a4247;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  outline: none;
}

.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
  display: none;
}

.woocommerce-error .container,
.woocommerce-info .container,
.woocommerce-message .container {
  position: relative;
}

.woocommerce-error .container::before,
.woocommerce-info .container::before,
.woocommerce-message .container::before {
  font-family: WooCommerce;
  content: "\e028";
  content: "\e028" / "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.woocommerce-message .container::before {
  content: "\e015";
  color: #8fae1b;
}

.woocommerce-info .container::before {
  color: #1e85be;
}

.woocommerce-error .container::before {
  content: "\e016";
  color: #b81c23;
}

.custom-empty-cart i {
  font-size: 100px;
}

.custom-empty-cart h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.woocommerce form.login,
.woocommerce form.checkout_coupon,
.woocommerce form.register {
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.billing-form-wrap .single-input-item textarea,
.billing-form-wrap .single-input-item input {
  color: #1a4247 !important;
  border: 1px solid #dadada !important;
  padding: 12px 10px !important;
  width: 100% !important;
  background: #f7f7f7 !important;
  border-radius: 0 !important;
  line-height: 24px !important;
}

.billing-form-wrap .single-input-item textarea:focus,
.billing-form-wrap .single-input-item input:focus {
  border-color: #5a5b2f !important;
  background-color: #fff !important;
}

.billing-form-wrap .single-input-item .form-row {
  width: 100%;
  padding: 0;
  margin: 0;
}

.billing-form-wrap .single-input-item .nice-select .current {
  padding-top: 6px;
  display: block;
}

.billing-form-wrap .woocommerce-account-fields {
  display: none;
}

.order-summary-details .order-summary-content .woocommerce-shipping-totals .woocommerce-shipping-destination {
  display: none;
}

.order-summary-details .order-summary-content .order-summary-table table tr td {
  max-width: 100px;
  white-space: normal;
}

.minicart-item .minicart-remove {
  margin: auto;
}

.minicart-pricing-box li span .amount {
  color: #5a5b2f;
}

.mobile-settings #myaccount i {
  font-size: 25px;
}

.policy-section .policy-list h1,
.policy-section .policy-list h2,
.policy-section .policy-list h3,
.policy-section .policy-list h4,
.policy-section .policy-list h5,
.policy-section .policy-list h6 {
  margin-bottom: 10px;
}

.policy-section .policy-list h1:not(:first-child),
.policy-section .policy-list h2:not(:first-child),
.policy-section .policy-list h3:not(:first-child),
.policy-section .policy-list h4:not(:first-child),
.policy-section .policy-list h5:not(:first-child),
.policy-section .policy-list h6:not(:first-child) {
  padding-top: 15px;
}

.policy-section .policy-list p:not(:last-child) {
  margin-bottom: 25px;
}

.policy-section .policy-list table:not(:last-child) {
  margin-bottom: 25px;
}

.policy-section .policy-list ul:not(:last-child), .policy-section .policy-list ul:not(:last-child),
.policy-section .policy-list ol:not(:last-child),
.policy-section .policy-list ol:not(:last-child) {
  margin-bottom: 25px;
}

.policy-section .policy-list ul li ul,
.policy-section .policy-list ul li ol,
.policy-section .policy-list ol li ul,
.policy-section .policy-list ol li ol {
  margin-top: 10px;
}

.policy-section .policy-list ul li:not(:last-child),
.policy-section .policy-list ol li:not(:last-child) {
  margin-bottom: 15px;
}

.testimonials-section .meta .avatar {
  border-radius: 100%;
  border: 0;
  background: transparent;
}

.testimonials-section .meta .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-page-list .blog-post-item {
  margin-bottom: 30px;
}

.blog-post-item .blog-thumb img {
  aspect-ratio: 16 / 11.5;
  -o-object-fit: cover;
     object-fit: cover;
}

.recent-post .product-thumb img {
  aspect-ratio: 16 / 11.5;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-thumb img {
  aspect-ratio: 3 / 4;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-thumb .button-group .label {
  display: none;
}

.product-thumb .button-group .fa.fa-check-circle {
  position: relative;
  top: -2px;
}

.product-thumb .button-group .yith-wcwl-add-to-wishlist-button .yith-wcwl-add-to-wishlist-button__label {
  display: none;
}

.product-thumb .button-group .yith-wcwl-add-to-wishlist-button svg {
  width: 18px;
  height: 18px;
  margin-top: -5px;
}

.button-group .yith-wcwl-add-to-wishlist-button.yith-wcwl-add-to-wishlist-button--added {
  pointer-events: none;
}

.related-products .button-group .yith-wcwl-add-to-wishlist-button {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.related-products .button-group .yith-wcwl-add-to-wishlist-button svg {
  margin-top: 0 !important;
}

.blog-sidebar .blog-tags {
  -webkit-column-gap: 5px;
          column-gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.woocommerce-account.woocommerce-lost-password .woocommerce-message {
  margin-bottom: 0;
}

.woocommerce-account .login-register-wrapper .woocommerce-privacy-policy-text {
  display: none;
}

.woocommerce-account .login-register-wrapper button {
  float: none !important;
  margin: 0 !important;
}

.woocommerce-account .login-register-wrapper .form_redirect {
  text-align: center;
}

.woocommerce-account .login-register-wrapper .form_redirect .form_redirect_head {
  position: relative;
  text-align: center;
}

.woocommerce-account .login-register-wrapper .form_redirect .form_redirect_head::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 100%;
  border-color: #d5d9d9;
  border-top-width: 1px;
  border-top-style: solid;
}

.woocommerce-account .login-register-wrapper .form_redirect .form_redirect_head h6 {
  display: inline-block;
  position: relative;
  z-index: 2;
  background-color: #fff;
  padding: 0px 10px;
  font-weight: 300;
  font-size: 14px;
}

.woocommerce-account .login-register-wrapper .form_redirect .account_btn {
  cursor: pointer;
  color: #1a4247;
}

.woocommerce-account .login-register-wrapper .form_redirect .account_btn:hover {
  color: #5a5b2f;
}

body.page-template-template-about .testimonial-area {
  margin-bottom: .5rem !important;
}

.contact-area .contact-info a {
  color: #1a4247;
  margin-left: 5px;
}

.contact-area .contact-info a:hover {
  color: #5a5b2f;
}

.useful-links .yith-add-to-wishlist-button-block {
  margin: 0;
}

.useful-links .yith-add-to-wishlist-button-block .yith-wcwl-add-to-wishlist-button {
  gap: 0;
}

.useful-links .yith-add-to-wishlist-button-block .yith-wcwl-add-to-wishlist-button .yith-wcwl-icon {
  width: 25px;
  max-width: 25px;
  height: 20px;
}

.mobile-menu-toggler .mini-cart-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.search-result h1 {
  margin-bottom: 40px;
}

.search-result h1 span {
  color: #d1d1d1;
}

.yith-wcwl-add-to-wishlist-button--added:hover svg {
  color: #5a5b2f !important;
}

.compare-page-content-wrap table .add_to_cart_button,
.wishlist-main-wrapper table .add_to_cart_button {
  min-width: 128px;
}

.compare-page-content-wrap table .added_to_cart.wc-forward,
.wishlist-main-wrapper table .added_to_cart.wc-forward {
  display: none;
}

.thankyou-page .woocommerce-thankyou-order-received {
  color: green;
  font-size: 20px;
  margin-bottom: 30px;
}

.thankyou-page .woocommerce-order-details table {
  border-radius: 0px;
}

.thankyou-page .woocommerce-order-details table thead th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.thankyou-page .woocommerce-order-details table tfoot th {
  padding: 20px;
}

.thankyou-page .woocommerce-order-details table tbody td {
  padding: 10px 20px;
  border: 0;
}

.thankyou-page .woocommerce-order-details table tbody td a {
  color: #5a5b2f;
}

.thankyou-page .woocommerce-order-details .woocommerce-order-details__title {
  margin-bottom: 15px;
  font-size: 24px;
}

.thankyou-page .woocommerce-customer-details .woocommerce-column__title {
  margin-bottom: 15px;
  font-size: 24px;
}

.thankyou-page .woocommerce-customer-details address {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

.tab-content label .required {
  color: red;
}

.tab-content .addresses .title .edit {
  float: left;
}

.tab-content a:not(.btn) {
  font-weight: 500;
  color: #5a5b2f;
}

.tab-content .myaccount-table .btn {
  float: right;
}

.tab-content .woocommerce-order-details h2,
.tab-content .woocommerce-customer-details h2 {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
  margin-bottom: 25px;
  color: #1a4247;
  line-height: 1.2;
  font-size: 18px;
}

.tab-content .woocommerce-order-details address,
.tab-content .woocommerce-customer-details address {
  border-radius: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.tab-content .woocommerce-order-details .shop_table,
.tab-content .woocommerce-customer-details .shop_table {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

.tab-content .woocommerce-order-details .shop_table,
.tab-content .woocommerce-customer-details .shop_table {
  border-radius: 0px;
}

.tab-content .woocommerce-order-details .shop_table thead th,
.tab-content .woocommerce-customer-details .shop_table thead th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.tab-content .woocommerce-order-details .shop_table tfoot th,
.tab-content .woocommerce-customer-details .shop_table tfoot th {
  padding: 20px;
}

.tab-content .woocommerce-order-details .shop_table tbody td,
.tab-content .woocommerce-customer-details .shop_table tbody td {
  padding: 10px 20px;
  border: 0;
}

.tab-content .woocommerce-order-details .shop_table tbody td a,
.tab-content .woocommerce-customer-details .shop_table tbody td a {
  color: #5a5b2f;
}

.woocommerce .woocommerce-info {
  border-top-color: #5a5b2f;
  border-radius: 5px 5px 0 0;
}

.woocommerce .woocommerce-info .container::before {
  color: #5a5b2f;
}

.woocommerce .woocommerce-error a {
  color: #5a5b2f;
}

.woocommerce form .form-row label {
  color: #1a4247;
  text-transform: capitalize;
  font-size: 14px;
}

.woocommerce form .form-row label .required {
  color: red;
}

.woocommerce form .form-row .input-text,
.woocommerce form .form-row textarea {
  color: #1a4247;
  border: 1px solid #dadada;
  padding: 12px 10px;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  border-radius: 0px;
  background: #f7f7f7;
}

.woocommerce form .form-row .input-text:active, .woocommerce form .form-row .input-text:focus,
.woocommerce form .form-row textarea:active,
.woocommerce form .form-row textarea:focus {
  border-color: #5a5b2f;
  background-color: #fff;
}

.woocommerce form .form-row .nice-select {
  width: 100%;
  border-radius: 0;
  height: 48px;
  border-color: #ccc;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.woocommerce form .form-row .nice-select .current {
  color: #1a4247;
}

.woocommerce form .form-row .nice-select .list {
  max-height: 200px;
  overflow: auto;
  width: 100%;
}

.total-reviews .review-box .ratings span:not(.good) {
  color: #1b4247;
  opacity: 0.15;
}

.woocommerce-wishlist .wishlist-title-container {
  display: none;
}
